<div class="container">
  <div class="row">
    <div class='mx-auto .col-10'>
      <h1><i class="far fa-clock"></i><strong> Pomotech</strong></h1>
      <h2>サービスについて</h2>
      <p>
        Pomotechは、ポモドーロ・タイマーを導入したタスク管理アプリです。<br>
        25分の作業と5分の休息を1セットとし、それを繰り返すことで作業の効率を上げることができます。<br>
        また、一日や一週間の作業量をセット数で記録することで、作業量を可視化します。
      </p>
      <p>
        参考：<%= link_to "ポモドーロ・テクニック(Wikipedia)", "https://ja.wikipedia.org/wiki/%E3%83%9D%E3%83%A2%E3%83%89%E3%83%BC%E3%83%AD%E3%83%BB%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF" %>
      </p>

      <h2>使い方</h2>
      <p>ログイン後、タスク一覧ページが表示されます。この画面でタスクを新規作成し、「開始」ボタンからタイマーページに移動してください。</p>

      <h3>タスク一覧ページ</h3>
      <%= image_tag 'task-show.png', class:"info-image border border-secondary"%>
      <h6>①User info</h6>
      <p>
        ポモドーロ・タイマーを用いてタスクを行った回数(セット数)を確認することができます。<br>
        下のボタンからユーザの編集ページに移動します。
      </p>
      <h6>②New Task</h6>
      <p>
        ここから新規タスクの作成ができます。
      </p>
      <h6>③Unfinished Tasks</h6>
      <p>
        未完了のタスクが表示されます。タスク名をクリックするとタスクの詳細ページに移動します。<br>
        <strong>ボタンについて</strong><br>
        開始：タイマーページに移動してタスクを行います。<br>
        編集：タスクの情報を編集できます。<br>
        削除：タスクを削除します。セット数の記録は残ります。
      </p>
      <h6>④Finished Tasks</h6>
      <p>
        完了済みのタスクが表示されます。<br>
        詳細ボタンは、タスクの詳細ページに移動します。
      </p>

      <h3>タイマーページ</h3>
      <p>タスク一覧や詳細ページの開始ボタンから表示できます。</p>
      <%= image_tag 'task-timer.png', class:"info-image border border-secondary"%>
      <p>
        <strong>タイマー上のボタンについて</strong><br>
        start : タイマーを開始します。<br>
        stop : タイマーを一時停止します。<br>
        work time : 作業時間(25分)をタイマーにセットします。<br>
        rest time : 休憩時間(5分)をタイマーにセットします。<br>
      </p>
      <p>
        タイマーで25分測って作業を行い、終わったら5分間の休憩を取ります。<br>
        作業が途中の場合は「中断」ボタン、完了した場合は「完了」ボタンを押して、1セットずつ記録してください。<br>
        続けて作業を行う場合は、「中断」ボタンを押したのち、詳細画面で再度「開始」ボタンを押してください。
      </p>

      <h3>詳細ページ</h3>
      <p>タスクの詳細情報を確認できます。</p>
      <%= image_tag 'task-details.png', class:"info-image border border-secondary"%>
      <p>※表示される項目はタスクの状況によって一部異なります。</p>
    </div>
  </div>
</div>
