<div class="container">
  <div class="row">
    <div class='mx-auto .col-10'>
      <h1><i class="far fa-clock"></i><strong> Pomotech</strong></h1>
      <h2>サービスについて</h2>
      <p>
        Pomotechは、ポモドーロ・タイマーを導入したタスク管理アプリです。<br>
        25分の作業と5分の休息を1セットとし、それを繰り返すことで作業の効率を上げることができます。<br>
        また、一日や一週間の作業量をセット数で記録することで、作業量を可視化します。
      </p>
      <p>
        参考：<%= link_to "ポモドーロ・テクニック(Wikipedia)", "https://ja.wikipedia.org/wiki/%E3%83%9D%E3%83%A2%E3%83%89%E3%83%BC%E3%83%AD%E3%83%BB%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF" %>
      </p>

      <h2>使い方</h2>
      <p>ログイン後、タスク一覧ページが表示されます。</p>
      
      <h4>タスク一覧ページ</h4>
      <%= image_tag 'task-show.png', class:"info-image border border-secondary"%>
      <h6>①User info</h6>
      <p>
        ポモドーロ・タイマーを用いてタスクを行った回数(セット数)を確認することができます。<br>
        下のボタンからユーザの編集ページに移動します。
      </p>
      <h6>②New Task</h6>
      <p>
        ここから新規タスクの作成ができます。
      </p>
      <h6>③Unfinished Tasks</h6>
      <p>
        未完了のタスクが表示されます。タスク名をクリックするとタスクの詳細ページに移動します。<br>
        開始：タイマー画面に移動してタスクを行います。<br>
        編集：タスクの情報を編集できます。<br>
        削除：タスクを削除します。セット数の記録は残ります。
      </p>
      <h6>④Finished Tasks</h6>
      <p>
        完了済みのタスクが表示されます。<br>
        詳細：タスクの詳細ページに移動します。
      </p>

      <h4>タイマー画面</h4>
      <p>タスク一覧や詳細ページの開始ボタンを押すと表示されます。</p>
      
    </div>
  </div>
</div>
